.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background-color: #1b1b1b;
}

.slot--active {
  cursor: pointer;
  transition: 0.2s;
  background-color: #858585;
}

.slot--active:hover {
  border: solid 2px white;
  box-sizing: border-box;
}

.slot--selected {
  background-color: #9edff5;
  box-shadow: 0 0 5px #9edff5;
}